# Meta App Settings > Basic > App secret
APP_SECRET=your_app_secret_here

# Siz o'zingiz tanlaysiz (har qanday maxfiy matn)
VERIFY_TOKEN=mening_bot_secret_2026

# Instagram Use Case > Generate access tokens dan
PAGE_ACCESS_TOKEN=your_long_access_token_here

# Sizning Instagram Business Account ID
IG_USER_ID=17841447132285232
